.donation-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 40px;
}

.currency-selection,
.personal-info,
.monthly-donation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.select-currency-label,
.currency-name,
.info-type,
.monthly-donation-label {
  color: #134379;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 400;
  word-wrap: break-word;
}

.currency-option,
.info-option,
.donation-option {
  display: flex;
  align-items: center;
  gap: 16px;
}

.currency-indicator,
.indicator {
  width: 40px;
  height: 40px;
  position: relative;
}

.indicator::after {
  content: '';
  width: 33.33px;
  height: 33.33px;
  position: absolute;
  background: #134379;
}

.donate-button {
  width: 184px;
  height: 40px;
  padding: 10px;
  background: #ffc20e;
  border-radius: 16px;
  color: #134379;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
}
