form {
  display: grid;
  grid-template-columns: 40% 30% 30%;

  max-width: 800px;
  width: 700px;
  height: 300px;
  gap: 10px;
  padding: 0 10px 0 0;
}
form * {
  border: 1px solid rgb(87, 87, 87);
  border-radius: var(--border-m);
  padding: 0 20px;
  background-color: antiquewhite;
}
form {
  /* border: 1px solid rgb(87, 87, 87); */
}
#name,
#company,
#companyrole,
#type-donation {
  grid-column: 1 / 2;
  width: 95%;
  height: 95%;
}
#form-message {
  grid-area: 1 / 2 / 5 / 4; /* Ajusta estas líneas según tu diseño */
  vertical-align: top;
  width: 100%; /* Asegúrate de que el input ocupe todo el ancho disponible */
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  white-space: pre-wrap; /* Permite que el texto se envuelva automáticamente y respete los saltos de línea */
}
form > button {
  grid-column: 3/4;
}
