html {
  font-family:
    'Onest Variable',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  letter-spacing: -0.0025rem;
  word-wrap: break-word;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
h3 {
  text-align: center;
  color: black;
  font-size: 42px;
  font-family: 'Caveat Brush';
  font-weight: 400;
  width: 100%;
}
h4 {
  display: flex;
  gap: 0.5rem;
}
h5{
  font-size: 16px;
  width: max-content;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  text-wrap: pretty;
  word-wrap: break-word;
  padding-inline: auto;
  width: 100%;
}
ol,
ul {
  list-style: none;
}
a {
  color: var(--black0);
  text-decoration: inherit;
}
a:hover {
  color: var(--hover-color-t);
}
button:hover {
  background-color: var(--hover-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}