
html {
  font-family:
    'Onest Variable',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  letter-spacing: -0.0025rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  text-align: center;
  color: black;
  font-size: 42px;
  font-family: 'Caveat Brush';
  font-weight: 400;
  word-wrap: break-word;
  width: 100%;
}
h4 {
  display: flex;
  gap: 0.5rem;
}
h5{
  font-size: 16px;
  width: max-content;
  
}

p {
  font-size: 1rem;
  line-height: 1.5;
  text-wrap: pretty;
  word-wrap: break-word;
  padding-inline: auto;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  color: var(--black0);
  text-decoration: inherit;
}

a:hover {
  color: var(--hover-color-t);
}



/* button {
  border-radius: var(--border-s);
  border: var(--border-s) solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--sec-color);
  transition: border-color 0.25s;
  padding: 5px 40px;
  border-radius: var(--border-l);
  width: min-content;
} */



button:hover {
  background-color: var(--hover-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
