@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  /* border: 0.5px solid white; */
}

html,
body {
  height: 100%;
  color: #cdcdcd;
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background: #fff;
  letter-spacing: -0.0025rem;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-inline: 4rem;
  padding-block: 3rem;
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
h3 {
  font-size: 1.3rem;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  color: #cfcfcf;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  text-wrap: pretty;
  word-wrap: break-word;
  font-family:
    'Onest Variable',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #bdbdc3;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




/* ========= NAVEGACIÓN ========= */
/* ========= ========= ========= */
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-block: 1.5rem;
}
#nav-links {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 1rem;

}
#language{
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ========= HOME ========= */
/* ========= ========= ========= */



.navLinks, #language-selector {
  /* background-color: #213547; */
  padding: 7px 12px;
}
#language-selector {
  border-radius: 3px;
}


.active {
  font-weight: bold;
  background-color: #383737;
  border-radius: 3px;
  /* padding: 10px; */
}