:root {
  color-scheme: light dark;
  color: #1c1b1b;
  background-color: var(--main-color);

  --black0: #000000;
  --black1: #1d1d1d;
  --white0: #ffffff;
  --white1: #eaeaea;

  --main-color: #eaeaea;
  --hover-color: #a8a8a8;
  --hover-color-t: #252525;
  --active-color: #df4545;
  --border: 6px;
  --border-max: 40px;
  --box-shadow:0 0 10px black;
}

* {
  /* border: 0.5px solid rgb(47, 47, 47); */
}

/* ========= NAVEGACIÓN ========= */
/* ========= ========= ========= */
nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 4rem;
}

.logo {
  width: 50px;
  height: 100%;
  /* background-color: var(--active-color); */
  border-radius: var(--border);
}

.nav-links-container {
  display: flex;
  gap: 1rem;
}

.active {
  font-weight: bold;
  /* background-color: red; */
  /* background-color: var(--hover-color); */
  color: var(--active-color);
  border-radius: var(--border);
}

#language-selector {
  border-radius: var(--border);
  padding: 10px;
  background-color: var(--hover-color);
}

/* ========= SECTION ========= */
/* ========= ========= ========= */
section {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1180px;
  margin: 50px auto;
}

/* ========= SECTION ========= */
/* ========= ========= ========= */
.card {
  background-color: var(--hover-color);
}
.card-header {
  text-align: center;
}
.card-img {
  background-color: var(--black1);
  width: 235px;
  height: 294px;
}

#horizontal-scroll {
  display: flex;
  height: 500px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  border-radius: 2px;
  gap: 25px;
}

#img {
  width: 500px;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: center;
  /* box-shadow: var(--box-shadow); */
}

.shadow {
  box-shadow: var(--box-shadow);
  /* border-radius: var(--border); */
}

/* ========= FOOTER ========= */
/* ========= ========= ========= */
footer {
  bottom: 0;
  background-color: var(--hover-color);
}
