:root {
  /* color-scheme: light dark; */
  color: #1c1b1b;
  background-color: var(--main-color);

  --black-0: #000000;
  --black-1: #1d1d1d;

  --white-0: #ffffff;
  --white-1: #eaeaea;

  --main-color: #eaeaea;
  --sec-color: #f29f9f;
  --hover-color: #a8a8a8;
  --hover-color-t: #252525;
  --active-color: #df4545;
  --red0: rgb(219, 120, 120);

  --color-main: black;
  --color-sec: black;

  --border-s: 6px;
  --border-m: 5px;
  --border-l: 40px;
  --border-xl: 40px;

  --shadow-s: 2px 0 10px #212121ed;
  --shadow-m: 2px 0 10px #212121ed;
  --shadow-l: 2px 0 10px #212121ed;

  --box-shadow: 2px 0 10px #212121ed;
  --box-shadow-hover: 0 0 5px 0 #6c6b6bed;
}
* {
  /* border: 0.5px solid rgb(47, 47, 47); */
}

/* ========= NAVEGACIÓN ========= */
/* ========= ========= ========= */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem 4rem;
}
#navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-items: center;
  /* margin: 10px auto; */
}
.action-button {
  background-color: var(--red0);
  border-radius: var(--border-l);
  padding: 5px 25px;
  height: min-content;
  width: fit-content;
}
.action-button:hover {
  box-shadow: var(--box-shadow-hover);
}
.logo {
  width: 50px;
  height: 100%;
  border-radius: var(--border-s);
}

.nav-containers {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 50px;
}

.active {
  font-weight: bold;
  color: var(--active-color);
  border-radius: var(--border-s);
}

#language-selector {
  border-radius: var(--border-s);
  padding: 10px;
  background-color: var(--hover-color);
}

/* ========= SECTION ========= */
/* ========= ========= ========= */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin-block: 50px;
  margin-inline: auto;

  gap: 40px;
}

/* ========= ========= ========= */
/* ========= CARD ========= */
.card {
  background-color: var(--hover-color);
  aspect-ratio: 9/14;
  width: 220px;
  height: 100%;
  overflow: hidden;
}
.card-header {
  text-align: center;
}
.card-img {
  background-color: var(--black1);
  /* width: 235px;
  height: 294px; */
}

/* ========= ========= ========= */
/* ========= WHAT WE DO ========= */
#horizontal-scroll {
  display: flex;
  height: 500px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  border-radius: 2px;
  gap: 25px;
  padding: 12px 0;
}
.horizontal-scroll-images {
  width: 500px;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}
.shadow {
  box-shadow: var(--box-shadow);
}

/* ========= FOOTER ========= */
/* ========= ========= ========= */
footer {
  bottom: 0;
  background-color: var(--hover-color);
}
#social-links-container {
  display: flex;
  padding: 10px;
  /* border: 0.5px solid rgb(47, 47, 47); */
  gap: 10px;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  border: 2px solid rgba(128, 128, 128, 0.709);
  width: 40px;
  height: 40px;
}
.global-class-name {
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 968px) {
  section {
  }
}
